body {
  text-align: center;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  background-Color:#ffffff;

}

header {
  border: 3px solid #0000ff;
  background-image: url("img/background.png");
  background-size: cover;
  background-position: center;
}
#top {
  color: #ff0000;
}
#tupac-poem img{
  width:150px;
  height:200px;
}
#shel-poem img{
  width:150px;
  height:200px;
}
#rosario-poem img{
  width:10%;
  height:auto;
}
